.aperture-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  animation: spin 10s linear infinite;
  overflow: hidden;
  margin-right: 16px;
}

.blade {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blade-shape {
  position: absolute;
  top: 0;
  left: 35%;
  width: 50%;
  height: 35%;
  background: white;
  transform: skewY(-30deg);
  transform-origin: bottom left;
  border-radius: 2px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
