.outlined-btn {
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(193, 199, 208, 0.02) 100%
    ),
    #fff;
  box-shadow:
    0px 1px 2px 0px rgba(164, 172, 185, 0.24),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08);
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;
}

.outlined-btn:hover {
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(193, 199, 208, 0.08) 100%
    ),
    #fff;
  box-shadow:
    0px 1px 2px 0px rgba(164, 172, 185, 0.24),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08);
}

.outlined-btn:active {
  background:
    linear-gradient(
      180deg,
      rgba(193, 199, 208, 0.08) 0%,
      rgba(255, 255, 255, 0.08) 100%
    ),
    #fff;
  box-shadow:
    0px 1px 2px 0px rgba(164, 172, 185, 0.24),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08);
}
