@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "tailwindcss-radix";

@theme {
  --z-index-negative: -1;
  --z-index-base: 1;
  --z-index-raised: 10;
  --z-index-2raised: 20;
  --z-index-3raised: 30;
  --z-index-backdrop: 50;
  --z-index-modal: 100;
  --z-index-dropdown: 200;
  --z-index-select: 200;

  --header-height: calc(var(--spacing) * 18);
  --height-header: var(--header-height);
  --margin-header: var(--header-height);

  --animate-accordion-slide-down: accordion-slide-down 300ms
    cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes accordion-slide-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-accordion-content-height);
    }
  }

  --animate-accordion-slide-up: accordion-slide-up 300ms
    cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes accordion-slide-up {
    0% {
      height: var(--radix-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }

  --animate-collapsible-slide-down: collapsible-slide-down 300ms
    cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes collapsible-slide-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-collapsible-content-height);
    }
  }

  --animate-collapsible-slide-up: collapsible-slide-up 300ms
    cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes collapsible-slide-up {
    0% {
      height: var(--radix-collapsible-content-height);
    }
    100% {
      height: 0;
    }
  }
}

body {
  @apply text-black;
}
